# Configuration file for Travis CI, see https://docs.travis-ci.com
language: java
jdk:
- oraclejdk8
env:
  global:
  - NODE_VERSION: 6
  - secure: s5j318rE2Kq5Hga6SKHOX1qQbsgNFxF643+zCpkOKYfH7fTsqjGdyf6HGiM3p5a6TIifF0bUHOGbdXFma1egZDQjSvI8OaNa8xnssLowiKR1fY6MONeLRf8xCly6SfX/h+dO4n76TepP4+B2W3TCp7+rUnxMOW/ex6oiX8A5akj+LG/coMs8fuqVzMeKCdMjz+zeMkx1wwETkpQPiOQOAoyD6fcP9XMvtdToxANGN6zPdOK3xpbFtaNQfm98s9hGtwXrZzGVXqTThRM2cAdA9u34FqAx3vBROZU7oTVK8j3xklvXZGTuCS9z3l2pExtwUJqnRshHKJ9eTK92CxD46JtKcFlKt+e7HtFf8ENVdEF4LccNlIA8+FGSawKIFn/XDQTE0LbXo5bzW4JdTqZwnDaFWaB5utqHm666ZzAgnN16JuemReFmA9XB9uEaVeL6HYOUHeXLfhM5r0Y6qgvGvektIL+1kfg4A6EBvSJlBU4LxrzR45LrKGPcTM3P1yY9RRI9hCdL5vV1t6FFUZ+yUlRwNrCiiI+QgEnpZ5oOlerlpS2e6wwleiP041wdJYGWaUeG85ROhtNt3dqZakpxoysdTKCoPSbyuAmsOpo1N0pdl/XhjnAwZ1pZf5xkAp39vuFR5uT/GhPQi1avJzkp+zlEu+nQN4bzevcT6vFlYbY=
  - secure: YIfotbrf6VT2wQpeFfyPFb2MYVLgDlJ733xokOJC5SJwpFXmm7E34Z6On+NzXPoYGW9ksvk5IjKZfo2lc1zz4eq5xwhQXyMCemaiSSd5x38h2FBjNmf8Tmr6ImsjZA3NXkQ14QBmpzhZ5I1zU1dDQ5JBKcOXHCdcAOOBzOEESSsltoIEHxb8toQKHSdoSdSgJ4WrhshQ3OKFu3x2vqN9RYYYTV2UasYaLau5mCLGuPe5l2DhYBhlnbqD3oXFKSHsWAyfQ0MWecN4VAAjGbVW2FtnYX2aOgCD+50t45etYmXmeJ48HPrDWOGqFiEikRNWVUjQOR6xY/ESfqUiSA88hFj9tuKC9y+WXXCmspW2MoHemnU6aUEz2pEgtRTiYQbFDUmxV2Rt7UlJ1AJJ/vKlfQkwfk65Te5c0ToQ8ulpQc9ONfYMMZgseHtuyw1EFF6tg8d2QkFiMCSBd/8p8jzTTsM1NiCeRC421vE4VeQAOx3W2qFds0XDff2pCTBh2s2QNee5H7IZWpzVIM+xYzDauOYgOJRCyV8xVhz6z0XbmWQ2unD84gJNHAb2075XmArNhasPwSYDPckWpv+NCG2rbC+XjOL6X0OYLnMYWddJ4BK0tm4MxC4PZmFPnCsqCll7XRnpFWPWOnL6MFGTwgd/y92vCPcuRpIEZtTU32XNujE=
before_script:
  - export DISPLAY=:99.0 && sh -e /etc/init.d/xvfb start #start xvfb so that we can start Firefox, see https://docs.travis-ci.com/user/gui-and-headless-browsers/#Using-xvfb-to-Run-Tests-That-Require-a-GUI
  - npm install -g @angular/cli@1.0.3
before_install:
- nvm install $NODE_VERSION
script:
- (cd backend && ./build.sh)
  && (cd frontend && ./build.sh)
  && (cd acceptance-tests && ./build.sh && ./upload-serenity-reports.sh)
  && (cd services/flightinformation && ./build.sh)
  && (cd services/educama-supplier-simulator-backend && ./build.sh)
  && (cd services/educama-supplier-simulator-frontend && ./build.sh)
addons:
  #Browser is used by the acceptance tests
  firefox: '42.0'
cache:
  timeout: 604800 #1 week
  directories:
  - "$HOME/.m2"
deploy:
  provider: cloudfoundry
  username: educama-core@novatec-gmbh.de
  password:
    secure: T3gblw+Bikg+4ELFsqHxSV96RngijEJqkfhsjkrprU4xff0YGiKgGWTcWmemAYxdlKogL3u6FT0TcFP95hdYDXUWggtzZKZGq6LLALJHRjITDaIXfq1xvDhaC8Q54t28UKM+mH8aO7XxnUOjrlHSScJNvVFDtJKorvf7KJsz/0rzEc7km7b0Yrnonj2QlPwycBPMBYTgo5XDuPMMskJ/fJG4Fi/MYLYlEUeyb/QCJawmKcbrjItDoMxVtmZnsHKE5Dyej+aGQj906dPCUTMN1cS4bi/vpQBhtGgo9FqD5QQm3fvYlmmZsjvMUHh1jLO8peBvuRpcUkBuZ/naLYy9mXmy1KfgbyPPczG1wNq3sl7mgvxdbypQuhiedgJGY6j66FEL9BQPJdPdoQ4u2faBwCY27mQBcI0DfEwfqzpYyv2Ke7zmv5O6eobSNj9i/W7+EhackWqEZEf8Hxh89/UrGYw00qLP6mUPI3IRub6Ds6kQYHOcmV4KPK3iRNb9+mFQYgftHzyHIuZUmskbE5ccsMXRm813ommeOq25XH/DbO1LvOavf3KQUoEc3+k6fLlp4B3OU07+dlhPhPXa76nGESofgXKtswGrXx17ypKfNNBpBqsenn7VeZUU2blgCn/bfAreRsCKvCxx5FmFoyt/+oeamHrw5oh/6Uz+qdO3yHk=
  api: https://api.ng.bluemix.net
  organization: '"NovaTec Consulting GmbH"'
  space: Educama-Development
  manifest: manifests/development.yml
  on:
    repo: Educama/Showcase
