html
    head
        title Educama Backend
        meta( name='viewport', content='width=device-width, initial-scale=1')
        
        link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/flatly/bootstrap.min.css", rel="stylesheet")
    body
        .container.pan
            .jumbotron 
                h2 Event Service - Educama
            p - Create an event (accessed at POST https://eventbackend.mybluemix.net/api/events)
            p - Get all the events (accessed at GET https://eventbackend.mybluemix.net/api/events)